body {
width: 100%;
background-color: #02010a;
display: flex;
}

#cabecera {
  width: 99%;
  height: 70px;
  background-color: #5b7989;
  border-radius: 0 0 10px 10px;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  top: 0;
  clear: both;
}

#cabecera h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style: oblique;
    text-shadow: 2px 2px 2px #02010a;
    float: left;
    margin-left: 1em;
}

 #cabecera a {
  color: white;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-style: oblique;
  font-size: 20px;
  text-shadow: 2px 2px 2px #02010a;
  float: right;
  margin-right: 2em;
  margin-top: 2em;
}

#contenido figure {
  width:600px;
  height: 450px;
  background-color: #82c3a6;
  margin-top: 70px;
  position: absolute;
  top: 0;
  right: 25%;
}

#contenido img {
  height: 80%;
  height: 400px;
  position: absolute;
  top: 5%;
  left: 5%;
  border: 2px solid black;
  padding: 1 1 1 1;
  box-shadow: 2px 2px 2px  #02010a;
}

footer {
  clear: both;
  width: 99%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: blue;
  border-radius: 10px 10px 0 0;
}
