body {
width: 100%;
background-color: #02010a;
}

#cabecera {
  width: 60%;
  height: 70px;
  background-color: #5b7989;
  border-radius:10px 10px 0 0;
  left: 28%;
  position: fixed;
  top: 0;
  clear: both;
}

#cabecera h3 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style: oblique;
    text-shadow: 2px 2px 2px #02010a;
    float: left;
    margin-left: 1em;
}

 #cabecera a {
  color: white;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-style: oblique;
  font-size: 20px;
  text-shadow: 2px 2px 2px #02010a;
  float: right;
  margin-right: 2em;
  margin-top: 2em;
}

#contenido {
  width:60%;
  height: 450px;
  background-color: #82c3a6;
  margin-top: 70px;
  position: absolute;
  top: 0;
  left: 28%;
  display: inline;
}

#contenido img {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto;
  border: 2px solid black;
  padding: 1 1 1 1;
  box-shadow: 2px 2px 2px  #02010a;
}

#contenido2 {
  width:60%;
  height: 380px;
  background-color: #d5c75f;
  margin-top: 520px;
  position: absolute;
  top: 0;
  left: 28%;
  display: flex;
}

.img1 img{
  width: 110%;
  margin-top: 2vh;
  border: 2px solid black;
  float: left;
  box-shadow: 2px 2px 2px  #02010a;
}

#contenido2 a {
  color: white;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-style: oblique;
  font-size: 20px;
  text-shadow: 2px 2px 2px #02010a;
  text-align: center;
  margin-top: 1em;
}

.img2 img{
  width: 110%;
  margin-top: 2vh;
  border: 2px solid black;
  float: right;
  box-shadow: 2px 2px 2px  #02010a;
}

.img2 img:hover{
  transform: translateY(5px);
  transform: translateX(20px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: none;}

  .img1 img:hover{
    transform: rotate(10deg);
    border: none;
    box-shadow: 2px 2px 2px #82c3a6;
  }

  -*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Dancing Script;
  }

 .row {
   width: 1px;
 }

 footer  {
   width:60%;
   height: 280px;
   background-color: #C6d5c5;
   margin-top: 900px;
   position: absolute;
   top: 0;
   left: 28%;
   display: flex;
 }

 .colum1 {
   font-size: 8px;
   display: flex;
 }
